:root{
    --vermelho: #E50914;
    --preta: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*base elements*/

body{
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container{  /*logo e nav links*/
    display: flex; /*alinhar elementos em tela */
    flex-direction: row;
    align-items: center; /*vertical space*/
    justify-content: space-between; /*horizontal space*/
}

header .logo {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
}

/* main movie */

.main-movie{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('/img/capa-house.jpg');
    height: 400px;
    background-size: cover;
    display: flex; /*aling the elements*/
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /*starts from left*/
}

.main-movie .description{
    margin-bottom: 40px;
}

.title{
    font-size: 40px;
}